.heading {
    font-weight: bold;
}

.list {
    list-style-type: none;
}

.navbar ul li {
    text-transform: uppercase;
    height: 40px;
    width: 200px;
    margin-bottom: 3px;
    position: relative;
    border-radius: 4px;
}

.navbar ul li:last-child {
    margin-bottom: 0;
}

.navbar ul li a {
    color: rgb(28, 8, 8);
    padding-left: 15%;
    display: block;
    width: 85%;
    height: 100%;
    font-size: 24;
    line-height: 42px;
    text-decoration: none;
    position: absolute;
    z-index: 1;
}

.navbar ul li::before {
    content: "";
    position: absolute;
    background: #7289b6;
    height: 100%;
    -webkit-transition: all 0.3s ease ease-out;
    -moz-transition: all 0.3s ease ease-out;
    -ms-transition: all 0.3s ease ease-out;
    transition: all 0.3s ease ease-out;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.navbar ul li:after {
    content: "";
    position: absolute;
    background: white;
    height: 100%;
    z-index: 0;
    -webkit-transition: all 0.3s ease ease-out;
    -moz-transition: all 0.3s ease ease-out;
    -ms-transition: all 0.3s ease ease-out;
    transition: all 0.3s ease ease-out;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.navbar ul li:hover:before {
    width: 10px;
    left: -10px;
}

.navbar ul li:hover:after {
    width: 100%;
}

.skill-image {
    height: 8rem;
    border-width: 0.25rem;
    border-radius: 8%;
    border-style: solid;
    border-color: rgb(130, 71, 23);
    padding: 1rem 1rem 1rem 1rem;
    display: inline;
    margin: 1rem;
    background-color: rgb(144, 219, 238);
    box-shadow: 10px -10px 5px 3px rgba(48,46,48,1); 
}

.skill-image1 {
    height: 8rem;
    border-width: 0.25rem;
    border-radius: 8%;
    border-style: solid;
    border-color: rgb(130, 71, 23);
    padding: 1rem 1rem 1rem 1rem;
    display: inline;
    margin: 1rem;
    background-color:rgb(224, 228, 103);
    box-shadow: 10px -10px 5px 3px rgba(48,46,48,1); 
}

.skill-image2 {
    height: 8rem;
    border-width: 0.25rem;
    border-radius: 8%;
    border-style: solid;
    border-color: rgb(130, 71, 23);
    padding: 1rem 1rem 1rem 1rem;
    display: inline;
    margin: 1rem;
    background-color:rgb(204, 150, 222);
    box-shadow: 10px -10px 5px 3px rgba(48,46,48,1);  
}

.skill-image3 {
    height: 8rem;
    border-width: 0.25rem;
    border-radius: 8%;
    border-style: solid;
    border-color: rgb(130, 71, 23);
    padding: 1rem 1rem 1rem 1rem;
    display: inline;
    margin: 1rem;
    background-color: #6cd697;
    box-shadow: 10px -10px 5px 3px rgba(48,46,48,1); 
}

.contact-link {
    color: black;
}

.skills {
    background-color: rgb(233, 176, 138);
    padding: 0;
    margin: 0;
}
table {
    margin: 0;
    padding: 0;
    border-width: 0.4rem;
    border-style: solid;
    background-color: white;
    width: 95%;
    text-align: left;  
}

.skill-cards {
    border-color: black;
    border-style: solid;
    background-color: hsl(25, 35%, 50%);
    text-align: center;
}

.list-items {
    text-align: left;
    text-indent: 2%;
    color: azure;
}
