li {
    display: inline-block;
    padding: 5px 10px;
}

ul {
    display: inline;
    list-style: none;
}

.center {
    margin: auto;
    padding: 10px;
    text-align: center;
}

.auto-size {
    width: auto;
    display: inline-block;
}

.circle {
    border-radius: 50%;
}

.nav {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
  
.nav li {
    display: inline-block;
    padding: 20px;
}

.navbar-nav {
    font-size: 25px;
}

.clearfix::after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.footer-tab {
    background-color: black;
    color:white;
    height: 20vh;
    margin-top: 2%;
    border-radius: 0;
}
